@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 1172px;
    padding: 50px 16px;
    margin: 0 auto;
}

.page-title {
    margin-bottom: 30px;
}

.card__img-block {
    display: block;
    width: 200px;
    height: 130px;
    object-fit: cover;
}

.card {
    box-shadow: 4px 4px 9px 4px rgba(204, 204, 204, 0.5);
    background-color: #ffffff;
    margin: 0 0 20px;
    border-radius: 5px;
    padding: 20px;
    transition: all 0.3s ease;
}
.card:hover {
    box-shadow: 1px 1px 1px 1px rgba(204, 204, 204, 0.8);
    background-color: #efefef;
}

.card__block {
    display: flex;
}

.card__block--left {
    margin-right: 20px;
}

.card__block--right a {
    text-decoration: none;
}

.card__title {
    color: #2b2b2b;
    font-size: 20px;
    margin-bottom: 10px;
}

.card__description {
    margin-bottom: 10px;
}

.card__data--created {
    margin-bottom: 10px;
}
